# Virtual environment
myenv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/
dist/
build/

# Environment variables
.env

# IDE specific files (optional)
.vscode/
.idea/
.DS_Store